{
  "openapi": "3.1.0",
  "info": {
    "title": "Aslam Content API",
    "version": "1.0.0",
    "description": "Programmatic access to the site's existing search and full reference content. Search retains existing account-aware behavior; resource retrieval is public and reference-only."
  },
  "servers": [
    {
      "url": "https://aslam.org"
    }
  ],
  "security": [],
  "externalDocs": {
    "description": "Agent guide",
    "url": "https://aslam.org/llms.txt"
  },
  "paths": {
    "/api/search": {
      "get": {
        "operationId": "search",
        "summary": "Search the site's content",
        "description": "Existing site search, unchanged. No authentication required. Results may include reference sources, public chats/notes and cached answers. Signed-in requests use existing account permissions. Only q is supported; collection, limit and pagination parameters are not supported. Missing or empty q returns an empty array; other no-match queries may return null.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search keywords.",
            "schema": {
              "type": "string"
            },
            "example": "patience"
          }
        ],
        "responses": {
          "200": {
            "description": "Matching excerpts; results is an empty array when there are no matches",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "500": {
            "description": "Search failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/resource": {
      "get": {
        "operationId": "getKnowledgeResource",
        "summary": "Read a complete reference resource",
        "description": "Use the relative URL path from a search result, URL-encoded as path. Supported shapes: /quran/{chapter}/{verse}, /hadith/{number}, /names/{number}, /salihin/{number}, /ghazali/{slug}, /islamqa/{slug}, /adhkar/{slug}, /seerah/page/{page}. Seerah pages range from 8 to 323. Do not pass a full URL, query string or fragment. Resource keys vary by collection.",
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "required": true,
            "description": "Reader path for the requested resource. Obtain slugs from search results.",
            "schema": {
              "type": "string"
            },
            "example": "/quran/2/153"
          }
        ],
        "responses": {
          "200": {
            "description": "Full resource and citation metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unknown or unsupported knowledge resource path",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Only GET is supported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Knowledge resource unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Seerah dataset unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Collection": {
        "type": "string",
        "enum": [
          "quran",
          "hadith",
          "names",
          "seerah",
          "ghazali",
          "islamqa",
          "adhkar",
          "salihin"
        ]
      },
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "required": [
          "results"
        ],
        "properties": {
          "results": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            }
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "required": [
          "Kind"
        ],
        "properties": {
          "Kind": {
            "type": "string",
            "description": "Result category; may include reference collections, chat, note, entry or searches."
          },
          "Title": {
            "type": "string"
          },
          "Content": {
            "type": "string",
            "description": "Excerpt, not necessarily the full passage"
          },
          "Role": {
            "type": "string",
            "description": "Source attribution or context"
          },
          "URL": {
            "type": "string",
            "description": "Reader URL path, or # for cached answers. Only supported reference paths can be passed to /api/resource."
          }
        },
        "additionalProperties": true
      },
      "ResourceResponse": {
        "type": "object",
        "required": [
          "kind",
          "source",
          "url",
          "resource"
        ],
        "properties": {
          "kind": {
            "$ref": "#/components/schemas/Collection"
          },
          "source": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Absolute citation URL"
          },
          "resource": {
            "type": "object",
            "additionalProperties": true,
            "description": "Full collection-specific record. Fields and casing vary. Preserve Arabic, translation, commentary and attribution where present; Seerah includes Title, Content, Page, Author and Translator."
          }
        }
      }
    }
  }
}
